<h2>Редактирование документа</h2>

<%= form_for :doc, url: doc_path(@doc), method: :patch do |f| %>
    <p>Название<br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>
    <p>Текст статьи<br>
    <%= f.text_area :body, {:class => 'form-control'} %>
    </p>
    <p>
    <%= f.submit({:class => 'btn btn-success'}) %>
    </p>
<% end %>
    
    